<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Users | Admin | Projectnest | Project Management</title>

    <link rel="shortcut icon" href="../assets/icons/favicon.ico" type="image/x-icon">

    <!-- IMPORTS  -->
    <link rel="stylesheet" href="../assets/css/users.css">
    <!-- IONICONS -->
    <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>
</head>

<body>

    <header>
        <div class="logo">
            <img src="../assets/images/logos/logo_icon.png" alt="projectnest" class="logo-icon">

            <h3 class="logo-text">
                Projectnest
            </h3>
        </div>

        <div href="../views/users.html" class="current-page">
            <ion-icon name="add-outline" class="plus-icon"></ion-icon>
            <h3 class="current-page-text">
                Delete user
            </h3>
        </div>
        <a href="../index.html" class="return-to-dashboard">
            <ion-icon name="chevron-back-circle"></ion-icon>
            Return to dashboard
        </a>
    </header>


    <section class="user-container">
        TESTING
    </section>


</body>

</html>