/* GOOGLEFONTS */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
	/* COLOR PALETTE */
	--cyan: #aec7c6;
	--white: #FBFBFBff;
	--white-alt: #eeeeee;
	--periwinkle: #C3BEDCff;
	--davys-gray: #565656ff;
	--gray-alt: #888888;
	--light-gray: #979797;
	--dark: #242424;

	/* STATE COLORS */
	--projects: #63a4f9;
	--categories: #fd9e32;
	--users: #5ad848;
	--progress: #ff5656;


	/* SHADOWS */
	--shadow: 0 .1rem .5rem 0 rgba(0, 0, 0, .1);
}

/* OVERRIDE DEFAULT STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Martel Sans', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}


.error-message {
    font-size: .8rem;
    color: tomato;
}

.input-error {
    border: 1px solid tomato;
}
